@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

html,
* {
  color: #2e1554;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 1.1;
}
body {
  background: center / cover no-repeat url("background.jpg");
}
.container {
  margin: 0 auto;
}
h1 {
  width: 350px;
  margin: 0 auto;
  background: linear-gradient(
    45deg, #2961da, #dc3080, #d3e117
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.options {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 550px;
  height: 550px;
  display: grid;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: larger;

  cursor: pointer;
}

span {
  font-style: italic;
}
